/* Fontsize & Font Faimly */
.t-10{font-size: 10px ;}
.t-11{font-size: 11px ;}
.t-12{font-size: 12px !important;}
.t-13{font-size: 13px ;}
.t-14{font-size: 14px !important;}
.t-15{font-size: 15px ;}
.t-16{font-size: 16px ;}
.t-17{font-size: 17px ;}
.t-18{font-size: 18px ;}
.t-20{font-size: 20px ;}
.t-22{font-size: 22px ;}
.t-24{font-size: 24px ;}
.t-25{font-size: 25px ;}
.t-30{font-size: 30px ;}
.t-35{font-size: 35px ;}
.t-40{font-size: 40px ;}
.t-45{font-size: 45px ;}
.t-50{font-size: 50px ;}
.t-60{font-size: 60px ;}


@font-face{
    font-family: robo-reg;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}@font-face{
    font-family: robo-med;
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}@font-face{
    font-family: robo-bol;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}@font-face{
    font-family: robo-lig;
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}@font-face{
    font-family: robo-thn;
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}
.f-l{
    font-family: robo-lig;
}.f-r{
    font-family: robo-reg;
}.f-t{
    font-family: robo-thn;
}.f-b{
    font-family: robo-bol;
}.f-m{
    font-family: robo-med;
}

/* Line Height */
.lh-12{line-height: 12px ; }
.lh-15{line-height: 15px ; }
.lh-18{line-height: 18px ; }
.lh-20{line-height: 20px ; }
.lh-21{line-height: 21px ; }
.lh-22{line-height: 22px ; }
.lh-24{line-height: 24px ; }
.lh-25{line-height: 25px ; }
.lh-28{line-height: 28px ; }
.lh-30{line-height: 30px ; }
.lh-32{line-height: 32px ; }
.lh-35{line-height: 35px ; }
.lh-38{line-height: 38px ; }
.lh-40{line-height: 40px ; }
.lh-45{line-height: 45px ; }
.lh-50{line-height: 50px ; }
.lh-58{line-height: 58px ; }
.lh-60{line-height: 60px ; }


/* Letter Spacing */
.ls-57{letter-spacing: .57px ;}
.ls-68{letter-spacing: .68px ;}
.ls-78{letter-spacing: .78px ;}
.ls-84{letter-spacing: .84px ;}
.ls-94{letter-spacing: .94px ;}

/* Height  */
.h-12{height: 12px ; }
.h-15{height: 15px ; }
.h-18{height: 18px ; }
.h-20{height: 20px ; }
.h-21{height: 21px ; }
.h-22{height: 22px ; }
.h-25{height: 25px ; }
.h-28{height: 28px ; }
.h-30{height: 30px ; }
.h-32{height: 32px ; }
.h-35{height: 35px ; }
.h-40{height: 40px ; }
.h-45{height: 45px ; }
.h-50{height: 50px !important; }

.w-125{width: 125px ; }
.w-150{width: 150px ; }
.w-175{width: 175px ; }
.w-200{width: 200px ; }
.w-225{width: 225px ; }
.w-250{width: 250px ; }
.w-275{width: 275px ; }


/* BackGround */
.bg-footer{background-color: rgba(227,232,235,1.0) !important;}
.bg-body{background-color: rgba(244,247,249,1.0);}
.bg-theame{background-color: rgba(0,194,135,1.0) !important;}
.bg-offline{background-color: brown !important;}
.bg-bl{background-color: rgb(10, 118, 177);}


/* Text color */
.t-bl{color: rgba(4,88,133,1.0);}
.t-bld{color: rgba(3,61,92,1.0);}
.t-b{color: rgba(42,54,131,1.0);}
.t-g{color: rgba(74,73,74,1.0) ;}
.t-gl{color:rgba(109,109,109,1.0);}
.t-bb{color: rgba(33,33,33,1.0) ;}
.t-bb-51{color: rgba(51,51,51,1.0) ;}
.t-wm{color: rgb(175, 175, 175) ;}
.t-theame{color: rgba(0,194,135,1.0);}
.t-dbl{color: rgba(44,47,84,1.0);}

.bold-1{font-weight: 100 ;}
.bold-2{font-weight: 200 ;}
.bold-3{font-weight: 300 ;}
.bold-4{font-weight: 400 ;}
.bold-5{font-weight: 500 ;}
.bold-6{font-weight: 600 ;}
.bold-7{font-weight: 700 ;}
.bold-8{font-weight: 800 ;}
.bold-9{font-weight: 900 ;}

/* Horizontal line */
.hr-l{border-top: 2px solid whitesmoke !important;}
.hr-2{border-top: 2px solid whitesmoke !important;}
.hrd-1{border-top: 1px dashed rgb(233, 232, 232) !important;}



*{
    margin: 0% ;
    padding: 0% ;
    box-sizing: border-box1 !important;
}
body{
    margin: 0% !important ;
    padding: 0% !important;
    font-family: 'Roboto',Helvetica,Arial,serif !important;
}


/* NavBar */
.nav-item{
    padding: 18px 10px !important;
    margin: 0 10px;
    align-items: center !important;
    line-height: unset !important;

}
.nav-link{
    color:rgb(27, 23, 23) !important;
}

.tog-bar{
    width: 23px;
    height: 3.5px;
    background-color: rgba(0,194,135,1.0);
margin-top: 5px;}

.Navbtn{
    background-color: rgba(0,194,135,1.0);
    height: 45px;
    width: 140px;
    border-radius: 22px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-size: 15.0px;
}
.sn{
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15.0px;
    color: rgba(74,73,74,1.0);
    letter-spacing: .78px;
}
.nav-box1{
    display: block ;
}
.navbar-toggler12{
    display: none ;
}

.sn:hover{
    color: rgba(74,73,74,1.0) !important;
}

.nav-active{
    border-bottom: 3px solid rgba(0,194,135,1.0); ;
    padding-bottom: 13.5px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15.0px;
    color: rgba(30,36,111,1.0) !important;
}
.nav-close{
    display: none ;
}
.sign-mob{
    display: none;
}
@media only screen and (max-width : 992px){
    .nav-box1{
        width: 100%;
        position: fixed;
        top: 80px;
        left: 0px;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.24);
        z-index: 50;
        display: none ;
    }
    .navbar-toggler12{
        display: block !important;
    }
    .nav-active{
        border-bottom: 1px solid rgba(0,194,135,1.0); 
        background-color: rgba(0, 194, 136, 0.07);
    }
    .navbar-nav{
        background-color: white;
        height: 100vh;
        width: 300px;
        float: left;
        z-index: 100;
        transform: translateX(-300px);

    }
    .nav-close{
        position: fixed;
        top: 23px;
        left: 30px;
        width: 18px;
        display: none;
        cursor: pointer;
    }
    .sign-desk,.sign-mob{
        display: none;
    }
    .nav-item{
        padding-left: 20px !important;
    }
    .nav-item:hover{
        background-color: rgba(0, 194, 136, 0.07);
    }
    .menu-btn{
        margin-left: 20px;
    }

}
@media only screen and (max-width : 576px){
    .nav-box1{
        width: 100%;
        position: fixed;
        top: 63px;
        left: 0px;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.24);
        z-index: 50;
        display: none;
    }

    .nav-close{
        position: fixed;
        top: 23px;
        left: 20px;
        width: 18px;
    }
    .nav-item{
        padding-left: 20px !important;
    }
    .menu-btn{
        margin-left: 20px;
        height: 40px !important;
    }

}



footer{
    background-color: rgba(227,232,235,1.0);
}
.footerheading{
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-size: 16.0px;
    color: rgba(33,44,112,1.0);
    text-align: left;
}
li{
    list-style: none;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(33,33,33,1.0);
    text-align: left;
    line-height: 29.0px;
}
.form-control{
    height: 30px;
    border-radius: 0;
}

.footer-input{
    border: 1px solid rgba(123,131,134,1.0) !important;
}

.footer-input::placeholder{
    font-size: 12px !important;
    color: rgba(35,35,53,1.0) !important;
    font-weight: 300 !important;
}
.msg{
    height: 80px;
}

.registerbtn{
    width: 200px;
    height: 45px;
    background-color: rgba(0,194,135,1.0) !important;
    font-family: 'Roboto',Helvetica,Arial,serif !important;
    font-weight: 500 ;
    font-size: 17.0px ;
    color: white !important;
    border-radius: 30px !important;
    margin: 5% 0;

}
.contactbtn{
    width: 100px;
    height: 40px;
    background-color: rgba(0,194,135,1.0) !important;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-size: 17.0px;
    color: white !important;
    border-radius: 30px !important;
    margin: 5% 0;
    display: block;
}

.Copyrighttext{
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12.0px;
    color: rgba(35,35,53,1.0);
}
  hr{
      border-top:1px solid rgb(209, 206, 206) ;
  }



@media only screen and (max-width : 576px){
    .t-22-l-m{
        font-size: 14px !important;
        line-height: 21px !important;
    }

    .t-25-b-m{
        font-size: 20px !important;
    }
    
    .t-35-l-m{
       font-size: 17px !important;
       line-height: 20px !important; 
    }

.company   {order: 3;-webkit-order: 3;}
.quick-links  {order: 4;-webkit-order: 4;}
.contact {order: 2;-webkit-order: 2;}
.form-contact  {order: 1;-webkit-order: 1;}
}
