.banner-program{
    height: 300px;
    width: 100%;
    background: url('../assets/program/program.png');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 10% ;
}
.banner-text{
    background-color: rgba(0, 0, 0, 0.8);
    height: 300px;
}
.white-line{
    height: 2px;
    background-color: white;
    width: 148px;
}
.greenlineC{
    height: 3px;
    background-color: rgba(0,194,135,1.0);
    width: 112px;
}
.star-img{
    height: 16px;
}
.t-bd{
    color: rgba(44,47,84,1.0);
}
.t-bl{
    color: rgba(71,74,116,1.0);
}
.b-r{
    border-right:1px solid rgb(155, 156, 163);
}

.fee-container{
    top:150px;
    right: 0;
    background-color: white;
    width: 320px;
    z-index: 10;
    border-radius: 15px;
    padding: 35px;
    /* transform: translateX(20px); */
    transition: linear;
    animation-duration: 600ms;
}
.list li{
    list-style: none;
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    font-family: robo-reg;
    font-weight: 400;
    font-style: normal;
    font-size: 16.0px;
    color: rgba(74,73,74,1.0);
    line-height: 19.0px;
    margin-top: 10px;
  }
  
  .list li::before {
    content: "\2022";
    color: rgb(24, 134, 101);
    font-weight: bold;
    display: inline-flex; 
    font-size: 40px;
    width: 0.7em;
    margin-left: -18px;
    margin-top: 10px;
  }

  .ln-border{
      border: 1px solid rgb(10, 118, 177);
  }

  .page-border{
      border: 2px solid rgb(243, 243, 243);
      border-radius: 10px;
  }

@media only screen and (max-width : 575.99px){
    .b-r{
        border-right:0.5px solid rgb(155, 156, 163);
    }
}
