


/*--------------- mobile view --------------*/

/* @media only screen and (max-width: 1200px) {
    .techBox{
        padding: 3.5em !important;
    }
    .techeco{
        padding-left: 0% !important;
    }
}

@media only screen and (max-width: 992px) {
    .techBox{
        padding: 3.5em;
    }
    .tech-p{
        padding: 2% 3%;
    }
} */
/* 
@media only screen and (max-width: 768px) {
    .logosc{
        left: 10px;
    }
    .bannerImage{
        width: 60%;
        margin-left: 20%;
    }
    .countstatus{
        padding: 0 10% !important;
        width: 100% !important;
    }
    .container-fluid{
        width: 100% !important;
        margin: 0% ;
        padding: 0%;

    }
    .col-12{
        width: 100% !important;
        padding-right: 0% !important;
    }
    .images-p{
        width: 100% !important;
        padding: 5% 10% !important;
    }
    .techBox{
        padding: 0em;
    }
    .tech-p{
        padding: 0.75% 3%;
    }
    .list_p{
     width: 100% !important;
     padding: 0% 15% !important;
    }
    .backd-p{
        padding: 5%;
    }
    li{
        text-align: center;
    }
    .footerheading{
        text-align: center;
    }
    .card{
        margin-left: 5%;
    }
}  */
